.overview-content {
  padding: 20px;
  flex: 1;
}

/* Scroll container */
.table-container {
  height: 400px; /* fixed instead of max-height */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Table text color (all rows) */
.results-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #000; /* makes all text black */
}

/* Header styling */
.results-table th {
  position: sticky;
  top: 0;
  background-color: #1DB954; /* Spotify green */
  color: #000; /* text color */

  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #14833b; /* darker green accent */
}

/* Table cells */
.results-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: white;
}

/* hover effect with green tint */
.results-table td:hover {
  background-color: rgba(65, 225, 121, 0.1);
}