.overview-content {
  padding: 20px;
  /* margin-top: 30vh; */
  flex: 1;
}

/* Scroll container */
.table-container {
  height: 320px;
  width: 750px;
  overflow-y: auto;
  border: 3px solid #1DB954;
  border-radius: 8px;
}

/* Table text color (all rows) */
.results-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #000; /* makes all text black */
}

/* Header styling */
.results-table th {
  position: sticky;
  top: 0;
  background-color: #1DB954; /* Spotify green */
  color: #ddd; /* text color */

  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #14833b;  /*darker green accent */
}

/* Table cells */
.results-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: white;
}

/* hover effect with green tint */
.results-table td:hover {
  background-color: rgba(65, 225, 121, 0.1);
}

.stats-panel {
  position: absolute;
  right: 40px;
  top: 15vh;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat-card {
  width: 200px;
  padding: 15px;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #1DB954;

  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.stat-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 24px;
  font-weight: bold;
  color: #ddd; /* Spotify green */
}

.awards-section {
  margin-top: 60px;
}

/* Dropdown */
.awards-section select {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 14px;
}

/* Table container */
.awards-table-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Pagination */
.pagination {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination button {
  padding: 6px 12px;
  cursor: pointer;
}